.comand {
  background-color: #f5f4fa;
  /* outline: 2px solid blue; */
}
.comand__list {
  display: block;
  @media screen and (min-width:768px) {
    display: flex;
    flex-wrap: wrap;
    }
  }

.comand__list-item {
  @media screen and (max-width:767px) {
    margin-bottom: $interval;
    &:last-child {
      margin-bottom: 0;
    }
    }
  @media screen and (min-width:768px) {
    flex-basis: calc((100% - 30px) / 2);
    &:not(:nth-child(2n)){
      margin-right: $interval;
    }
    margin-bottom: $interval;
    &:last-child,
    &:nth-last-child(2) {
      margin-bottom: 0;
    }
  }
  @media screen and (min-width:1200px) {
  margin-bottom: 0;
  flex-basis: calc((100% - 90px) / 4);
  &:not(:last-child){
    margin-right: $interval;
  }
    }
  justify-content: space-between;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  
}
// .comand__link-item{
//   @include centerflex();
// }
.comand__title {
  margin-top: 0;
  margin-bottom: 50px;
  padding-top: 0px;
  padding-bottom: 0;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
.comand__title-name {
  margin-bottom: 10px;
  padding-top: 0px;
  padding-bottom: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.17;
  text-align: center;
}
.comand__paragraf {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.17;
  text-align: center;
}
.comands__content {
  padding-top: 30px;
  @media screen and (max-width: 1199px) {
    padding-bottom: 24px;
  }
  @media screen and (min-width: 1200px) {
    padding-bottom: 30px;
  }
}
.comand__link {
  @include centerflex();
}
