.soc-icon {
  width: 20px;
  height: 20px;
}

.soc-icon-link {
  fill: $color-solid-button;
  @include centerflex();
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: fill $primary-transition,
    background-color $primary-transition;
  &:hover,
  &:focus {
  background-color: $color-blue;
  fill: white;
}
}

